form{
    width: 600px;
    height: 300px;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
}

.container{
    padding: 30px;
}

.text{
    margin-left: 300px;
    padding: 0;
}


.required{
    color: red;
}